

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-evenly;
}

ul li img:hover {
  background-color: #adafbc;
}

ul img {
  object-fit: contain;
  max-width: 90%;
  width: 25rem;
  height: 12rem;
}